<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <!--session-factory>
    <property name="connection.url"/>
    <property name="connection.driver_class"/>
    &lt;!&ndash; <property name="connection.username"/> &ndash;&gt;
    &lt;!&ndash; <property name="connection.password"/> &ndash;&gt;

    &lt;!&ndash; DB schema will be updated if needed &ndash;&gt;
    &lt;!&ndash; <property name="hibernate.hbm2ddl.auto">update</property> &ndash;&gt;
  </session-factory>-->

  <session-factory>
    <property name="hibernate.bytecode.use_reflection_optimizer">false</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.password">test</property>
    <property name="hibernate.connection.url">jdbc:mysql://192.168.0.123:3306/test_db?serverTimezone=Europe/Berlin</property>
    <property name="hibernate.connection.username">test_user</property>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="show_sql">true</property>



    <!-- Create table if not exists -->
    <property name="hibernate.hbm2ddl.auto">update</property>
    <!-- The JDBC driver of your database -->
    <mapping class="entities.UsersEntity"></mapping>


  </session-factory>
</hibernate-configuration>